Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-SocketIO
Flask-Cors
python-engineio
gevent-websocket
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-SocketIO
Flask-Cors
python-engineio

Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.3
Flask-Cors==3.0.10
gevent==22.10.2
gevent-websocket==0.10.1
Werkzeug==2.2.3
openai
